<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>WebRTC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<script type="text/javascript">
	    var host = "fedemarske.github.io";
	    if ((host == window.location.host) && (window.location.protocol != "https:"))
	        window.location.protocol = "https";
	</script>

	<!-- Angular Material style sheet -->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
 	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 	<link href="stylesheets/style.css" rel="stylesheet">

    
</head>
<body ng-app="RtcApp">

<div layout="column"  ng-controller="RtcController as r" ng-cloak>
	<h4 layout="column" layout-align="center center">WEB RTC</h4>
	<h4 layout="column" layout-align="center center" ng-show="r.videos">Room Name: mobile</h4>
	<div layout="row" layout-xs="column" layout-align="center center" id="video-chat" ng-show="r.videos">

		<div layout="column" layout-align="center center">
            <span class="md-title">{{r.userName}}</span>
            <div id="vid-box-local" class="web-cam"></div>
			<md-button ng-mousedown="r.pushToTalk()" ng-show="r.talk" ng-mouseup="r.end()">{{r.talkMute}}</md-button>
		</div>

		<div layout="column" layout-align="center center" class="others" ng-show="r.videoOut">
            <span class="md-title">{{r.theOther.number}}</span>
            <div id="vid-box" class="web-cam"></div>
		</div>

		<div layout="column" layout-align="center center" class="others" ng-show="r.videoOut">
            <span class="md-title">{{r.theOther2.number}}</span>
            <div id="vid-box-2" class="web-cam"></div>
		</div>
	</div>
	<md-content layout="column" layout-align="center center">
		<md-input-container class="md-icon-float md-block" ng-show="!r.loginSuccess">
			<!-- Use floating label instead of placeholder -->
			<label>Ingrese un nombre</label>
			<md-icon md-font-set="material-icons"> account_circle </md-icon>
			<input name="username" ng-model="r.username" type="text" ng-keypress="($event.which === 13)?r.login():0">
			<!--<md-button class="md-raised md-primary" ng-show="!r.join" ng-click="r.login(1)" >Create a room</md-button>-->
			<md-button class="md-raised md-primary" ng-show="!r.join" ng-click="r.login()" >Join a room</md-button>
		</md-input-container>
		<md-input-container class="md-icon-float md-block" ng-show="r.join">
			<!-- Use floating label instead of placeholder -->
			<label>Room Name</label>
			<md-icon md-font-set="material-icons"> call </md-icon>
			<input name="number" ng-model="r.number" type="text">
			<md-button class="md-raised md-primary" ng-click="r.makeCall()">Join</md-button>
		</md-input-container>
	</md-content>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

<script src="js/App.js"></script>

<script src="https://cdn.pubnub.com/pubnub.min.js"></script>
<script src="js/webrtc-2.0.0.js"></script>
<script type="text/javascript">

var video_hold = document.getElementById("video-chat");
var video_out  = document.getElementById("vid-box");
var video_out_2  = document.getElementById("vid-box-2");
var video_in  = document.getElementById("vid-box-local");
var form_block = document.getElementById("form-box")
   

function errWrap(fxn, form){
	try {
		return fxn(form);
	} catch(err) {
		console.log(err);
		alert("WebRTC is currently only supported by Chrome, Opera, and Firefox");
		return false;
	}
}
    

</script>
</html>
