<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>WebRTC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<script type="text/javascript">
	    var host = "fedemarske.github.io";
	    if ((host == window.location.host) && (window.location.protocol != "https:"))
	        window.location.protocol = "https";
	</script>

	<!-- Angular Material style sheet -->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
 	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 	<link href="stylesheets/style.css" rel="stylesheet">

    
</head>
<body ng-app="RtcApp" ng-cloak>

<div layout="column"  ng-controller="RtcController as r" layout-padding ng-cloak>
	<h4 layout="column" layout-align="center center">WEB RTC</h4>
	<br/>
	<div layout="row" layout-align="center center" id="video-chat" ng-show="r.videos">
		<md-card>
			<md-card-title>
				<md-card-title-media>
					<div id="vid-box-local" class="outer">
						
					</div>
				</md-card-title-media>
			</md-card-title>
			<md-card-actions layout="row" layout-align="end center">
				<!-- <md-button>Log Out</md-button> -->
				<md-button ng-click="r.pushToTalk()" ng-show="!r.talk">Press To Talk</md-button>
				<md-button ng-click="r.end()" ng-show="r.talk">Press To Mute</md-button>
			</md-card-actions>
		</md-card>
		<md-card ng-show="r.videoOut">
			<md-card-title>
				<md-card-title-media id="vid-box">
				</md-card-title-media>
			</md-card-title>
			<md-card-actions layout="row" layout-align="end center">
				<md-button ng-click="r.endConnection()">End Connection</md-button>
			</md-card-actions>
		</md-card>
		<md-input-container class="md-icon-float md-block" ng-show="!r.videoOut">
			<!-- Use floating label instead of placeholder -->
			<label>Ingrese un nombre para llamar</label>
			<md-icon md-font-set="material-icons"> call </md-icon>
			<input name="number" ng-model="r.number" type="text">
			<md-button class="md-raised md-primary" ng-click="r.makeCall()">Connect</md-button>
		</md-input-container>
	</div>
	<md-content class="autoScroll" layout="column" layout-align="center center">
		<md-input-container class="md-icon-float md-block" ng-show="!r.loginSuccess">
			<!-- Use floating label instead of placeholder -->
			<label>Ingrese un nombre</label>
			<md-icon md-font-set="material-icons"> account_circle </md-icon>
			<input name="username" ng-model="r.username" type="text">
			<md-button class="md-raised md-primary" ng-click="r.login()" >Log In</md-button>
		</md-input-container>
	</md-content>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

<script src="js/App.js"></script>

<script src="js/pubnub.min.js"></script>
<script src="js/webrtc-2.0.0.js"></script>
<script type="text/javascript">

var video_hold = document.getElementById("video-chat");
var video_out  = document.getElementById("vid-box");
var video_in  = document.getElementById("vid-box-local");
var form_block = document.getElementById("form-box")
   

function errWrap(fxn, form){
	try {
		return fxn(form);
	} catch(err) {
		console.log(err);
		alert("WebRTC is currently only supported by Chrome, Opera, and Firefox");
		return false;
	}
}
    

</script>
</html>
