<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>WebRTC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<script type="text/javascript">
	    var host = "kevingleason.me";
	    if ((host == window.location.host) && (window.location.protocol != "https:"))
	        window.location.protocol = "https";
	</script>

	<!-- Angular Material style sheet -->
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
 	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    
</head>
<body ng-app="RtcApp" ng-cloak>
<!--<div class = "bodyDiv" ng-app="RtcApp" ng-cloak>
	<div class="container">

	<h4 class="center-align">WebRTC</h4>

	<div class="row">
		<div class="col s12" id="video-chat" hidden="true">
			<div class="card col s6">
				<div id="vid-box-local" class="center-align"></div>
				<div class="card-action">
					<a class="waves-effect waves-light btn center-align" onclick="end()">Push to Talk</a>
				</div>
			</div>
			<div class="card col s1"></div>
			<div class="card col s5">
				<div id="vid-box" class="center-align"></div>
				<div class="card-action">
					<a class="waves-effect waves-light btn center-align" onclick="end()">End Call</a>
				</div>
			</div>
		</div>
		<div class="input-field col s4" id="form-box">
			<div class="input-field col s12">
			    <form  name="loginForm" id="login" action="#" onsubmit="return login(this);">
					<i class="material-icons prefix">account_circle</i>
					<input type="text" name="username" id="username" placeholder="Enter A Username" class="validate"/>            
					<button class="btn waves-effect waves-light" name="login_submit" type="submit">Log In
						<i class="material-icons right">send</i>
					</button>
			    </form>
		    </div>
		    <div class="input-field col s12">
			    <form name="callForm" id="call" action="#" onsubmit="return makeCall(this);">
					<i class="material-icons prefix">phone</i>
					<input type="text" name="number" id="call" placeholder="Enter User To Call!" class="validate"/>
					<button class="btn waves-effect waves-light" type="submit" >Call
						<i class="material-icons right">send</i>
					</button>
			    </form>
		    </div>
		</div>
	</div>

	</div>
</div>-->

<div layout="column" layout-align="center center" layout-padding ng-cloak>
	<h4>WEB RTC</h4>
	<br/>
	<md-content class="autoScroll">
		<form  name="loginForm" id="login" action="#" onsubmit="return login(this);">
			<md-input-container class="md-icon-float md-block">
				<!-- Use floating label instead of placeholder -->
				<label>Ingrese un nombre</label>
				<md-icon md-font-set="material-icons"> account_circle </md-icon>
				<input ng-model="user.name" name="username" type="text">
				<md-button class="md-raised md-primary" type="submit">Log In</md-button>
			</md-input-container>
		</form>
		<form name="callForm" id="call" action="#" onsubmit="return makeCall(this);">
			<md-input-container class="md-icon-float md-block">
				<!-- Use floating label instead of placeholder -->
				<label>Ingrese un nombre para llamar</label>
				<md-icon md-font-set="material-icons"> call </md-icon>
				<input ng-model="user.name" name="number" type="text">
				<md-button class="md-raised md-primary" type="submit">Call</md-button>
			</md-input-container>
		</form>
	</md-content>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

<script src="js/App.js"></script>

<script src="https://cdn.pubnub.com/pubnub.min.js"></script>
<script src="js/webrtc-2.0.0.js"></script>
<script type="text/javascript">
   
var video_hold = document.getElementById("video-chat");
var video_out  = document.getElementById("vid-box");
var video_in  = document.getElementById("vid-box-local");
var form_block = document.getElementById("form-box")
var user_name = "";


function login(form) {
    user_name = form.username.value || "Anonymous";
    var phone = window.phone = PHONE({
        number        : user_name, // listen on username line else Anonymous
        publish_key   : 'pub-c-2dd69866-318e-4ea4-84fa-b38d7fe74c8d',
        subscribe_key : 'sub-c-ebfc8486-a8db-11e5-bd8c-0619f8945a4f',
        datachannels  : true,  // Enable Data Channels
    }); 
    phone.ready(function(){ 
    	form.username.style.background="#55ff5b"; 
    	form.login_submit.className="btn waves-effect waves-light hide";
    });
    phone.receive(function(session){
        session.connected(function(session) { 
        	video_hold.hidden=false; 
        	video_out.appendChild(session.video);
        	video_in.appendChild(phone.video);
        	form_block.className = "input-field col s4 hide";
        });
        session.ended(function(session) { 
        	video_out.innerHTML='';
        	form_block.className = "input-field col s4";
        });
    });
    return false;
}

 
function makeCall(form){
	if (!window.phone) alert("Login First!");
	else phone.dial(form.number.value);
	return false;
}

function end(){
	if (!window.phone) return;
	window.phone.hangup();
	video_hold.hidden = true;
}


function errWrap(fxn, form){
	try {
		return fxn(form);
	} catch(err) {
		console.log(err);
		alert("WebRTC is currently only supported by Chrome, Opera, and Firefox");
		return false;
	}
}
    

</script>
</html>
