.web-cam { 

  /* background-color: blue; */

  width: 100px;
  height: 100px;
  border-radius: 125px;
  margin: 30px;

  /* position: relative; */
  /* top: 0; */
  /* left: 125px; */

  /* overflow: hidden; */

  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  mask-image: radial-gradient(circle, white 100%, black 100%);

}

.others{
  margin-bottom: 50px;
}

.v1 {
  width: 200px;
  height: 200px;
  margin-top: -50px;
  margin-left: -50px;


  /* opacity: 0.5 */

}

.v2 {
  width: 200px;
  height: 200px;
  margin-top: -50px;
  margin-left: -50px;


  /* opacity: 0.5 */

}
