.web-cam { 

  /* background-color: blue; */

  width: 250px;
  height: 250px;
  border-radius: 125px;

  /* position: relative; */
  /* top: 0; */
  /* left: 125px; */

  /* overflow: hidden; */

  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  mask-image: radial-gradient(circle, white 100%, black 100%);

}

video {
    width: 525px;
    height: 490px;
    position: absolute;
    top: 10px;
    left: 330px;


  /* opacity: 0.5 */

}